<form action="<%=/user/create%>" method="POST">
  <input type="text" name="nom_du_champ">
  <input type="submit" value="Envoyer le formulaire">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>



